.wrapper {
  max-height: 200px;
  overflow: auto
}

.photo {
  contain: content;

  img {
    width: 100%;
    height: 100%;
  }
}

.details {
  text-align: center;
  font-size: 1.2em;
  color: #3F51B5;
}

::ng-deep {
  .mat-card-header-text {
    width: 100%;
  }
}
