.wrapper {
  position: relative;
  height: 98vh;
  width: 98vw;
}

svg {
  right: 0;
  position: absolute;
  top: 0;
}

.center {
  right: 0;
  position: absolute;
  top: 40%;
  left: 0;
  background: #ff4081;
  color: white;
  font-family: roboto;
  border: 1px solid white;
  padding-left: 2em;
}

img {
  // -webkit-filter: blur(1px) drop-shadow(31px 31px 20px black) grayscale(0.6) opacity(0.6) sepia(0.3);
  filter: blur(3.18px);
}

svg {
  width: 100%;
  height: 100%;
}
