.example-form {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

::ng-deep {

  mat-card {
    box-shadow: none;
  }


  mat-form-field {
    width: 100%;
  }
}
