::ng-deep {

  mat-cell:first-of-type,
  mat-footer-cell:first-of-type,
  mat-header-cell:first-of-type {
    padding-left: 0px !important;
  }

  mat-card {
    box-shadow: none;
  }

  mat-table {
    min-width: 80vw;
    min-height: 80vh;
  }

  mat-slider {
    width: 90%;
  }
}

h3 {
  color: #3F51B5;
}

h4 {
  color: #673AB7;
  font-family: roboto;
}

button {
  margin-right: 1em;
  width: 200px;
}

.table-container {
  margin-top: 10px;
  max-height: 20vw;
  min-width: 70vw;
  overflow: auto;
}

.footer {
  padding-top: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roboto';
}

h1 {
  text-align: center;
  color: #F44336;
}

.truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}
