.photo {
  contain: content;

  img {
    width: 100%;
    height: 100%;
  }
}


::ng-deep {
  .mat-grid-list {
    display: block;
    position: relative;
    margin: 4em;
  }

  mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    cursor: pointer;

    .mat-card-header-text {
      text-transform: uppercase;
    }

  }
}
