<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://source.unsplash.com/random/200x200"
    >
    <mat-card-title>{{product?.Name}}</mat-card-title>
    <mat-card-subtitle>{{product?.ProductId}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div
      fxLayout
      class="wrapper"
    >
      <div fxFlex>
        <div class="photo">
          <mat-spinner *ngIf="!product || spinner"></mat-spinner>

          <img
            mat-card-image
            src="https://source.unsplash.com/random/800x600"
            (load)="stopSpinner()"
          >
        </div>
      </div>
      <div fxFlex>
        <h4>Product Description</h4>
        <p>
          <em>
            {{product?.Description}}
          </em>
        </p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog(product)"
    >
      <mat-icon>border_color</mat-icon>Edit
    </button>
  </mat-card-actions>

</mat-card>
